@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Source+Serif+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    width: 120px;
    height: 40px;
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.btn::before {
    content: 'OPEN';
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #2C394B;
    border-radius: 10px;
    color: #fff;
    z-index: -20;

    display: flex;
    justify-content: center;
    align-items: center;
}